nav{
  background-color: #007380ae;
  font-size: 25px;
  font-family: "Libre Barcode 39 Text", system-ui;
  top: 0px;
  box-shadow: 0px 6px 5px;
  display: flex;
  justify-content: center;
}
nav ul{
  margin: 0px;
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav a.active { /*thank you https://reactrouter.com/en/main/components/nav-link*/
  color: #000000;
  font-family:"Jersey 10", sans-serif;
  box-shadow: 0px 0px 15px #27373a4b;
  border-radius: 10px;
}
nav a {
  display:inline-block;
  color: #fff;
  padding-inline: 10px;
  text-decoration: none;
}
nav a:hover {
  font-family:"Jersey 10", sans-serif;
}

.P_icon{
  height: 30px;
  width: 30px;
  margin: 10px 0px 0px 0px;
}

.fa-home{
  font-size: 15px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.fa-shopping-cart{
  font-size: 15px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.fa-film{
  font-size: 15px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.fa-info-circle{
  font-size: 15px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

h1 { /*titles centered*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 0px;
}


.appname {
  font-size: 70px;
  font-family: "Jersey 10", sans-serif;
  background-color: #007380ae;
  display: flex;
  font-weight: 400;
}


footer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
footer img {
  max-width: 13%;
  height: auto;
}






/*Profile
temp layout*/

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img{
  margin: 250px; /*just for now*/
  padding: 0px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: spin 5s;
}







/*home*/

.homepage {
  color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.home-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search div{
  display:inline-flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 7px;
  box-shadow: 0px 0px 7px #01444f5b;
  margin: 5px;
  width: 80%;
}

.home-icon{
  object-fit: cover;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.home-search input{
  width: 100%;
  margin: 0px;
  height: 35px;
  font-size: 15px;
  border: none;
}

.home-search input:focus{  /*https://medium.com/@andwebdev/design-and-develop-a-functional-search-bar-in-react-44321ed3c244*/
  outline: none;
}

.homepage button{
  padding: 10px 15px;
  margin: 5px;
  font-size: 15px;
  border-radius: 17px;
}

.homepage button:hover{
  background-color: #0073806d;
}

.homepage button:active{
  background-color: #007380ae;
}

.home-list{
  display:block;
  align-items: left;
  justify-content: start;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 2cqb;
  font-family: "Libre Barcode 39 Text", system-ui;
  font-size: 30px;
  color: #025e68;
  position: relative;
}

.home-list img{ /*img*/
  height: auto;
  width: 70%;
}

.home-list button{
  background-color: #00000000;
  margin: 0px;
  padding: 0px;
  border: none;
  position: absolute;
}

.home-list button:hover{
  background-color: #00000000;
}

.home-list:hover img{
  background-color: #00000006;
  box-shadow: 0px 0px 2px;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

.homepage-notify{
  color: #014d5585;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 0px;
}

.homepage-notify input{
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: none;
  width: auto;
  height: 20%;
  font-size: 20px;
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
  color: #025e68;
}

.homepage-notify input::placeholder{
  color: #025e68;
}

.homepage-notify input:focus{
  outline: none;
}

.homepage-notify img{
  height: auto;
  width: 17%;
}

.homepage-notify button{
  background-color: #00000000;
  margin: 2px;
  padding: 1px;
  border: none;
}

.homepage-notify ul{
  font-size: 16px;
  color: #000000;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  margin: 1px;
  padding: 1px;
  list-style-type: none;
}







/*List Page*/

.list{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

.list input{
  width: 70%;
  margin: 0px;
  height: 35px;
  font-size: 15px;
  border: none;
  border-bottom: #000000;
}
.list input:focus{
  outline: none;
}







/*Cart*/

.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart img{
  margin: 0px;
  padding: 0px;
  width: 20%;
  height: auto;
}
.cart table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  word-wrap: break-word;
  padding: 10px;
  margin: 5px;
}

.cart td{
  text-align: center;
  padding: 5px;
  display: in;
  align-items: center;
  justify-content: start;
}

.cart tr{
  border-bottom: 1px solid #000000;
  margin: 2px;
  padding: 3px;
}

.cart input {
  width: 30px;
  text-align: center;
}

.cart-total{
  font-weight: 700;
  color: #025e68;
  border-top: 1px solid #000000;
}





/*Movies*/
.movies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies img{
  margin: 250px; /*just for now*/
  padding: 0px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: spin 5s;
}








/*About*/
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about img{
  margin: 10px; /*just for now*/
  padding: 5px;
  width: 50%;
  height: 50%;
}

.about p{
  display: flex;
  margin: 15px;
  padding: auto;
}






.subscriptions-container {
  text-align: center;
  padding: 20px;
}

.subscription-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.subscription-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.subscription-card img {
  width: 100px;
  height: auto;
}

.subscription-card h2 {
  font-size: 1.5em;
}

.subscription-card p {
  margin: 10px 0;
}

.subscription-card button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.subscription-card button:hover {
  background-color: #0056b3;
}

.subscription-card:hover {
  transform: translateY(-5px); /* Small animation effect on hover */
}









@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}