nav{
  background-color: #007380ae;
  font-size: 25px;
  font-family: "Libre Barcode 39 Text", system-ui;
  top: 0px;
  box-shadow: 0px 6px 5px;
  display: flex;
  justify-content: center;
}
nav ul{
  margin: 0px;
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav a.active { /*thank you https://reactrouter.com/en/main/components/nav-link*/
  color: #000000;
  font-family:"Jersey 10", sans-serif;
  box-shadow: 0px 0px 15px #27373a4b;
  border-radius: 10px;
}
nav a {
  display:inline-block;
  color: #fff;
  padding-inline: 10px;
  text-decoration: none;
}
nav a:hover {
  font-family:"Jersey 10", sans-serif;
}

.P_icon{
  height: 30px;
  width: 30px;
  margin: 10px 0px 0px 0px;
}

h1 { /*titles centered*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 0px;
}


.appname {
  font-size: 70px;
  font-family: "Jersey 10", sans-serif;
  background-color: #007380ae;
  display: flex;
  font-weight: 400;
}





/*Login*/

.Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.Login form{
  background-color: #c2e2e445;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.Login div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2px;
}

.Login input{
  outline: none;
  margin: 3px;
  padding: 5px;
  font-size: 17px;
  border-radius: 8px;
  border-color: #00000057;
}

.Login button{
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: block; 
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  border-radius: 6px;
}

.Login button:hover{
  background-color: #38c0cf28;
}





/*Profile
temp layout*/

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img{
  margin: 250px; /*just for now*/
  padding: 0px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: spin 5s;
}







/*home*/

.homepage {
  color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  
}

.home-search {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search div{
  display:inline-flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 7px;
  box-shadow: 0px 0px 7px #01444f5b;
  margin: 5px;
  width: 80%;
  background-color: #ffffff;
}

.home-icon{
  object-fit: cover;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.home-search input{
  width: 100%;
  margin: 0px;
  height: 35px;
  font-size: 15px;
  border: none;
  background-color: #00000000;
}

.home-search input:focus{  /*https://medium.com/@andwebdev/design-and-develop-a-functional-search-bar-in-react-44321ed3c244*/
  outline: none;
}


.homepage button{
  padding: 10px 15px;
  margin: 5px;
  font-size: 15px;
  border-radius: 17px;
}

.homepage button:hover{
  background-color: #0073806d;
}

.homepage button:active{
  background-color: #007380ae;
}

.home-list{
  display:block;
  align-items: left;
  justify-content: start;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 2cqb;
  font-family: "Libre Barcode 39 Text", system-ui;
  font-size: 30px;
  color: #025e68;
  position: relative;
}

.home-list img{ /*img*/
  height: auto;
  width: 70%;
}

.home-list button{
  background-color: #00000000;
  margin: 0px;
  padding: 0px;
  border: none;
  position: absolute;
}

.home-list button:hover{
  background-color: #00000000;
}

.home-list:hover img{
  background-color: #00000006;
  box-shadow: 0px 0px 2px;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

.homepage-notify{
  background-color:#43aeb9d6;
  color: #ffffff;
  font-size: 20px;
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #5b5b5b76;
  border-width: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #53535365;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-notify-title{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.homepage-notify input{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: auto;
  height: 20%;
  font-size: 20px;
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding-left: 10px;
  background-color: #00000000;
}

.homepage-notify input::placeholder{
  color: #ffffff;
}

.homepage-notify input:focus{
  outline: none;
}

.homepage-notify button{
  background-color: #81b0a800;
  margin: 0px;
  padding: 5px;
  border: none;
}

.homepage-notify ul{
  font-size: 16px;
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  margin: 1px;
  padding: 1px;
  list-style-type: none;
}

.homepage-notify table{
  table-layout: fixed;
  width: auto;
  border-collapse: collapse;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
}

.homepage-notify tr{
  border-bottom: 1px solid #ffffff;
  width: 20%;
}

.homepage-notify-btn{
  width: 7%;
}







/*Cart*/

.cart-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
.cart-empty img{
  margin: 20px; /*just for now*/
  padding: 0px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: spin 8s;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart h1{
  padding:5px;
  margin: 5px;
}

.cart ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
}

.cart-items{
  display: flex;
  flex-direction: column;
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 7px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item-info h3{
  text-align: center;
}

.remove-button {
  background-color: #00738000;
  border: none;
  color: #012529ae;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.remove-button:hover {
  color: #ad1212bf; /* Darker green on hover */
  font-size: 19px;
}

.cart-buttons button{
  background-color: #007380;
  border: none;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.cart-buttons button:hover{
  font-size: 18px;
  background-color: #02abbd;
}






.checkout {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.checkout h2 {
  margin: 10px 0;
  font-size: 24px; 
  align-items: center;
  justify-content: center; 
  width: 100%; 
  color: #007380;
}

.complete-purchase-button {
  background-color: #007380; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; 
  font-size: 16px;
  margin: 20px auto; /* Margin around the button and auto on sides for centering */
  cursor: pointer;
  border-radius: 4px;
}

.complete-purchase-button:hover {
  background-color: #00a7ba; 
  font-size: 17px;
}

.checkout-items {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  width: 100%; 
}

.checkout-item {
  display: flex;
  align-items: center;
  justify-content: center; 
  border-bottom: 1px solid #ddd; 
  padding: 0px;
  margin: 0px;
  text-align: center; 
}

.checkout-item-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0px;
  margin: 0px;
}

.confirmation-message {
  margin-top: 20px;
  font-size: 18px;
  color: #02c0b0;
  text-align: center;
}





/*Movies*/
.movies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies ul{
  list-style: none;
  padding: 15px;
  margin: 15px;
}

.movies li{
  border-bottom: solid 1px #01928675;
  box-shadow: 0 1px 0px #42736f75;
}

.movies img{
  margin: 20px;
  padding: 0px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: spin 5s;
}








/*About*/
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about img{
  margin: 10px; /*just for now*/
  padding: 25px;
  width: 50%;
  height: 50%;
}

.about p{
  display: flex;
  margin: 15px;
  padding: auto;
}

.about-speech{

}




/*Subs*/
.sub-title{
  padding:5px;
  margin: 5px;
  text-align: center;

}

.subscriptions-container {
  text-align: center;
  padding: 20px;
}

.subscription-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.subscription-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.subscription-card img {
  width: 100px;
  height: auto;
}

.subscription-card h2 {
  font-size: 1.5em;
}

.subscription-card p {
  margin: 10px 0;
}

.subscription-card button {
  background-color: #007380ae;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.subscription-card button:hover {
  background-color: #007380fb;
}

.subscription-card:hover {
  transform: translateY(-5px); /* Small animation effect on hover */
}










@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}